<html>
<head>
<link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cousine" rel="stylesheet">
</head>
<style>

body  {
    background-color: #ffffff;
    color: black;
    font-size:14px;
    font-family: 'Cousine', monospace;

}




h1 {
  font-size: 100%;
  color: #000000;

}

</style>
<body>


<center>
<br />


<!-- <center><img src="http://159.89.84.58:8080/garbagepatch_600_442b.jpg" width="600px" height="442px">
</center> -->
<h1>

<!--  <a href="">This is NOT a <span style="color:#ff3b3d;" >404</span> page! You found me.</a> -->
  <br /><div style="width:500;">  <p>Name, <br />adjective that describes you, <br />another one, <br />and your favorite drink</a></h1> <br />
</div>
 <form method="POST">
    <input type="text" name="textfield" value="your name" />
    <input type="text" name="textfield2" value="your adjective" />
    <input type="text" name="textfield3" value="your adjective2" />
    <input type="text" name="textfield4" value="your drink" />



    <!-- <a href="file:///Users/crashplanuser/Desktop/Users/katyarozanova/NYU/spring%202018/DWD/github_homework/assignment%202/thankyou_patch.html">Submit</a> -->
    <input type="submit" name="submitbutton" value="Submit" />

	</form>
<br />
<br />

</body>
</center>

</body>
</html>
